.my-image-class {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 50%;
    height: auto;
}

.horizontal-class {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 70%;
    height: auto;
}

.horizontal-class-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
}

figure figcaption {
    text-align: center;
}

.my-custom-text {
    font-family: 'Fira Mono';
    font-size: x-large;
  }

 .code-block {
    word-wrap: break-word;
    white-space: pre-wrap;
}